<!DOCTYPE html>
<html ng-app="appModule">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - UniMap</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/angular-material/angular-material.min.css" rel="stylesheet" />
    <link href="~/css/styles.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    @RenderSection("styles", required: false)
</head>
<body ng-app="UniMap" ng-cloak>

  <md-content class="md-padding">
    <md-nav-bar
      md-selected-nav-item="currentNavItem"
      nav-bar-aria-label="navigation links">
      <md-nav-item md-nav-click="goto('home')" name="home" class="main-color">
        Home
      </md-nav-item>
      <md-nav-item md-nav-click="goto('edit')" name="edit">
        Edit Event
      </md-nav-item>
      <!-- these require actual routing with ui-router or ng-route, so they
      won't work in the demo
      <md-nav-item md-nav-href="#page4" name="page5">Page Four</md-nav-item>
      <md-nav-item md-nav-sref="app.page5" name="page4">Page Five</md-nav-item>
      You can also add options for the <code>ui-sref-opts</code> attribute.
      <md-nav-item md-nav-sref="page6" sref-opts="{reload:true, notify:true}">
        Page Six
      </md-nav-item>
      -->
    </md-nav-bar>
    <div class="ext-content">
      @* External content for `<span>{{currentNavItem}}</span>`. *@
    </div>

  </md-content>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2017 - UniMap</p>
        </footer>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/angular/angular.min.js"></script>
    <script src="~/lib/angular-animate/angular-animate.min.js"></script>
    <script src="~/lib/angular-aria/angular-aria.min.js"></script>
    <script src="~/lib/angular-messages/angular-messages.min.js"></script>
    <script src="~/lib/angular-material/angular-material.min.js"></script>

    <script src="~/js/app.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
