@{
    Layout = "";
}

<!doctype html>
<html ng-app="appModule">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Events</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="~/lib/angular-material/angular-material.css" rel="stylesheet" />
    <link href="~/css/map.css" rel="stylesheet" />
</head>

<body ng-controller="indexCtrl">
    <md-sidenav class="md-sidenav-left"
                md-component-id="left"
                md-is-locked-open="$mdMedia('gt-md')"
                md-whiteframe="4">
    </md-sidenav>

    <div id="map"></div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/angular/angular.min.js"></script>
    <script src="~/lib/angular-animate/angular-animate.min.js"></script>
    <script src="~/lib/angular-aria/angular-aria.min.js"></script>
    <script src="~/lib/angular-messages/angular-messages.min.js"></script>
    <script src="~/lib/angular-material/angular-material.min.js"></script>

    <script src="~/js/app.js"></script>
    <script src="~/js/map.js"></script>
    <script src="~/js/map.service.js"></script>
    <script src="~/js/home/index.controller.js"></script>

</body>
</html>