@{
    Layout = "";
}

<!doctype html>
<html ng-app="appModule">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Events</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="~/lib/angular-material/angular-material.css" rel="stylesheet" />
    <link href="~/css/map.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/styles.css" rel="stylesheet" />
</head>

<body ng-controller="indexCtrl">
    <md-sidenav class="md-sidenav-left sidenav-padding"
                md-component-id="left"
                md-is-open="true">
        <br />
        <div layout>
            <div flex="10"></div>
            <div flex="60">
                <md-datepicker ng-model="curDate" md-placeholder="Enter date" md-min-date="today"></md-datepicker>
            </div>
            <div flex></div>
        </div>
        <div layout>
            <div flex="15"></div>
            <div flex="60">
                <md-input-container style="width:100%;">
                    <label>Tags</label>
                    <md-select ng-model="selectedTags" multiple>
                        <md-optgroup label="tags">
                            <md-option ng-value="tag" ng-repeat="tag in tags">{{tag}}</md-option>
                        </md-optgroup>
                    </md-select>
                </md-input-container>
            </div>
            <div flex></div>
        </div>
        <br />

        <md-list flex>
            <md-subheader ng-show="{{curDate}}" class="md-no-sticky">Events for {{curDate.toDateString()}}</md-subheader>
            <div ng-repeat="event in events | byTag: selectedTags | byDate: curDate">
                <md-list-item class="md-3-line nav-event" ng-click="centerOnMap(event)">
                    <i class="material-icons nav-map-icon">place</i>
                    <div class="md-list-item-text" layout="column">
                        <h3><strong>{{event.title}}</strong></h3>
                        <h4>Starts at {{event.startOn.toLocaleTimeString()}}</h4>
                        <h4>Ends at {{event.endOn.toLocaleTimeString()}}</h4>
                    </div>
                </md-list-item>
                <md-divider ng-if="!$last"></md-divider>
            </div>
        </md-list>
    </md-sidenav>

    <div id="map"></div>

    <div class="map-menu-button">
        <md-button class="md-fab" aria-label="Menu" ng-click="toggleSidenav()">
            <md-icon>place</md-icon>
        </md-button>
    </div>

    <md-card id="dialog" class="dialog">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">{{selectedEvent.title}}</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <h2>Description</h2>
            <p>{{selectedEvent.description}}</p>
            <h3>Starts</h3>
            <p>{{selectedEvent.startOn.toDateString() + ", " + selectedEvent.startOn.toLocaleTimeString()}}</p>
            <h3>Ends</h3>
            <p>{{selectedEvent.endOn.toDateString() + ", " + selectedEvent.endOn.toLocaleTimeString()}}</p>
        </md-card-content>

        <md-card-actions layout="row" layout-align="end center">
            <md-button ng-click="closeInfoWindow()">Close</md-button>
            <md-button href="{{mapUrl(selectedEvent) || '#'}}" target="_blank">Map</md-button>
        </md-card-actions>
    </md-card>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/angular/angular.min.js"></script>
    <script src="~/lib/angular-animate/angular-animate.min.js"></script>
    <script src="~/lib/angular-aria/angular-aria.min.js"></script>
    <script src="~/lib/angular-messages/angular-messages.min.js"></script>
    <script src="~/lib/angular-material/angular-material.min.js"></script>

    <script src="~/js/app.js"></script>
    <script src="~/js/home/tagfilter.js"></script>
    <script src="~/js/home/datefilter.js"></script>
    <script src="~/js/map.service.js"></script>
    <script src="~/js/event.service.js"></script>
    <script src="~/js/home/index.controller.js"></script>
    <script src="~/js/map.js"></script>
</body>
</html>
