<md-dialog aria-label="{{selectedEvent.title}}">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>{{selectedEvent.title}}</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon md-svg-src="close" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        Some content here
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button href="" target="" md-autofocus>
            Map
        </md-button>
        <span flex></span>
        <md-button ng-click="cancel()">
            Close
        </md-button>
    </md-dialog-actions>
</md-dialog>