
/* Home Page CSS */
.map-menu-button {
  position: fixed;
  left: 50%;
  bottom: 30px;
  transform: translateX(-50%);
}
/* End Home Page CSS */

/* Login Page CSS */

.loginCard {
  padding: 10px;
}

/* End Login Page CSS */
