@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Log in";
}

<br /><br />
<h2 class="login_header">@ViewData["Title"].</h2>

<div layout="row" ng-cloak>
  <div flex="100" flex-gt-xs="60" flex-offset-gt-xs="20" flex-gt-sm="50" flex-offset-gt-sm="25">
    <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
        <h4>Use a local account to log in.</h4>
        <br />

        <div asp-validation-summary="All" class="text-danger"></div>

        <md-input-container class="md-block">
          <!-- Use floating placeholder instead of label -->
          <input asp-for="Email" ng-model="user.email" type="email" placeholder="Email" ng-required="true">
        </md-input-container>

        <md-input-container class="md-block">
          <!-- Use floating placeholder instead of label -->
          <input asp-for="Password" ng-model="user.password" type="password" placeholder="Passoword" ng-required="true"/>
          <span asp-validation-for="Password" class="text-danger"></span>
        </md-input-container>

        <md-input-container class="md-block">
          <md-checkbox name="tos" ng-model="project.tos" required>
            Remember me?
          </md-checkbox>
        </md-input-container>

        <div>
          <md-button type="submit">Log in</md-button>
        </div>

        <div>
          <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">Register as a new user?</a>
        </div>
        <div>
          <a asp-action="ForgotPassword">Forgot your password?</a>
        </div>
    </form>
  </div>
</div>


@section Scripts {
    <script src="~/js/login/index.controller.js"></script>
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
