@model UniMap.Models.Event

@{
    ViewData["Title"] = "Create Event";
}

@section styles {
    <link href="~/css/map.css" rel="stylesheet" />
}
<div ng-controller="createCtrl">
    <form flex="100" flex-gt-xs="60" flex-offset-gt-xs="20" flex-gt-sm="50" flex-offset-gt-sm="25" novalidate>
        <h2>Create Event</h2>

        <md-input-container class="create_input">
            <label>Title</label>
            <input type="text" required>
        </md-input-container>
        <br />
        <md-input-container class="create_input">
            <label>Description</label>
            <textarea type="text" required rows="10"></textarea>
        </md-input-container>
        <br />
        <md-input-container>
            <label>Start Date</label>
            <md-datepicker ng-model="newEvent.start" md-placeholder="Start date" required></md-datepicker>
        </md-input-container>
        <md-input-container>
            <label>Start Time</label>
            <md-select ng-model="newEvent.startHours">
                <md-option ng-repeat="hour in hours" value="{{hour}}">
                    {{hour}}
                </md-option>
            </md-select> :
        </md-input-container>
        <md-input-container>
            <md-select ng-model="newEvent.startMinutes">
                <md-option ng-repeat="minute in minutes" value="{{minute}}">
                    {{minute}}
                </md-option>
            </md-select>
        </md-input-container>
        <br />
        <md-input-container>
            <label>End Date</label>
            <md-datepicker ng-model="newEvent.end" md-placeholder="End date"></md-datepicker>
        </md-input-container>
        <md-input-container>
            <label>End Time</label>
            <md-select ng-model="newEvent.endHours">
                <md-option ng-repeat="hour in hours" value="{{hour}}">
                    {{hour}}
                </md-option>
            </md-select> :
        </md-input-container>
        <md-input-container>
            <md-select ng-model="newEvent.minutes">
                <md-option ng-repeat="minute in minutes" value="{{minute}}">
                    {{minute}}
                </md-option>
            </md-select>
        </md-input-container>
        <br />
        <md-input-container>
            <label>Address</label>
            <textarea ng-model="newEvent.description"></textarea>
        </md-input-container>
        <hr />
        <div id="small_map"></div>
        <br />

        <md-button href="/Admin">Cancel</md-button>
        <md-button type="submit" class="md-raised md-primary">Submit</md-button>

    </form>
</div>


@section Scripts {
    <script src="~/js/event.service.js"></script>
    <script src="~/js/map.service.js"></script>
    <script src="~/js/admin/create.controller.js"></script>
    <script type="text/javascript">
        function initialize() {
            angular.element($('#small_map')).scope().initMap();
        }
    </script>


    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
